<div>
  <label>Height(mm)</label>
  <Input
    @id="height"
    @value={{this.height}}
  />
  <label>Width(mm)</label>
  <Input
    @id="width"
    @value={{this.width}}
  />
  <button {{on "click" this.calculate}}>Calculate</button>
</div>

{{#if this.components.length}}
  <CuttingList @components={{this.components}} />
{{/if}}

{{#if this.dimensions.length}}
  <DimensionsTable @dimensions={{this.dimensions}} />
{{/if}}
