<table>
  <tr>
    <th>Name</th>
    <th>Height</th>
    <th>Width</th>
    <th>Depth</th>
    <th>Count</th>
    <th>Cubic Feet</th>
    <th>Cubic Meters</th>
  </tr>
  {{#each @components as |component|}}
    <tr data-test-component-row={{component.name}}>
      <td data-test-component-name>{{component.name}}</td>
      <td data-test-component-height class="{{if (eq component.lengthKey "height") "highlight" }}">{{component.height}}</td>
      <td data-test-component-width class="{{if (eq component.lengthKey "width") "highlight" }}">{{component.width}}</td>
      <td data-test-component-depth class="{{if (eq component.lengthKey "depth") "highlight" }}">{{component.depth}}</td>
      <td data-test-component-count>{{component.count}}</td>
      <td data-test-component-cubic-feet>{{component.cubicFeet}}</td>
      <td data-test-component-cubic-meters>{{component.cubicMeters}}</td>
    </tr>
  {{/each}}
</table>
<p>Total Cubic Feet: {{this.totalCubicFeet}}</p>
<p>Total Cubic Meters: {{this.totalCubicMeters}}</p>
